/* * {
    margin:0;
    box-sizing: border-box;
    padding:0;
} */

/* moje css*/

.page {
    border:1px solid black;
    margin:20rem;
}

#homepage {
        margin:40rem;
}

#homepage.page div.content article p {
    color: #040404;
}


